#header {
	width:100%;
	background-color: rgba(1, 1, 1, 0.15);
	border: 1px solid #CCC;
	height: 80px;
}
.title {

}
.title-name{
	font-size: 20px;
	text-align: center;
}
.signup {
	position: relative;
	float: right;
}
body {
	font-family: Helvetica;
	font-size: 18px;
	color: #0F0F0F;
	background-color: (138, 126, 219, 0.5);
}

#search-container {
	text-align: center;
	margin: 20px 0;
}

#search {
	line-height: 30px;
	font-size: 20px;
	width: 50%;
	text-align: center;
}

#square-grid {
	text-align: center;
	margin: 15px 0 75px 0;
}

.square.hidden {
	display: none;
}

.square {
	display: inline-block;
	max-width: 100%;
	min-width: 450px;
	padding: 0 14px;
	vertical-align: top;
	text-align: center;
	position: relative;
	overflow: hidden;
	margin: 10px;
	background-color: rgba(1,1,1,0.15);
	-webkit-box-shadow: 10px 17px 65px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 10px 17px 65px 0px rgba(0,0,0,0.55);
	box-shadow: 10px 17px 65px 0px rgba(0,0,0,0.55);
}

.square .square-top {
	position: relative;
	min-height: 250px;
	overflow: hidden;
	margin: 10px 0;
}

.square .square-bottom {
	z-index: 100;
	margin: 10px 0;
}

.square img.website-screenshot {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.square:hover img.website-screenshot {
	left: -100%;
}

.square img.website-logo {
	display: block;
	margin: 35px auto 10px;
}

.square .website-font {
	margin: 15px 0;
}

.square .website-colors {
	text-align: center;
	width: 100%;
	height: 40px;
}

.square .website-colors p {
	background-color: white;
	width: 65px;
	height: 20px;
	line-height: 20px;
	margin: 10px auto;
}

.square .website-colors .color {
	height: 40px;
	margin: 0;
	display: inline-block;
	border-radius: 0;
}

